{% extends attributes.template.base|default(agTemplate('base')) %}
{% block autogrid %}
    {% block autogrid_error_content %}
        <div class="alert alert-danger text-center h4 p-4" role="alert">
            {{ ag_icon('warning')|raw }}
            {{ message }}
        </div>
    {% endblock %}
{% endblock %}
