{% extends attributes.template.base|default(ag_template('base')) %}
{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid %}
    {% block autogrid_error_content %}
        <div class="alert alert-danger text-center h4 p-4" role="alert">
            {{ ag_icons.warning() }}
            {{ message }}
        </div>
    {% endblock %}
{% endblock %}
