{% extends 'foundation_6_layout.html.twig' %}

{% block form_row %}
    <div style="margin-bottom: 0;">
        {{ parent() }}
    </div>
{% endblock %}

{% block form_help %}
    {% if help is not empty %}
        <p style="margin-top: .5rem; margin-bottom: 0; font-size: .875rem; line-height: 1.5; color: #6b7280;">{{ help|trans(help_translation_parameters, translation_domain) }}</p>
    {% endif %}
{% endblock %}
