{% if field.permissions.grid %}
    {% block autogrid_grid_column_value_cell %}
        <td class="{{ field.attributes.column_html_class.value|default('') }}">
            {% block autogrid_grid_column_value_content %}
                {% set agView = field|ag_prepare(entity) %}{{ include(agView.template, agView.variables) }}
            {% endblock %}
        </td>
    {% endblock %}
{% endif %}
