{% block autogrid_field_text_content %}
    {% if (value is null or value is same as '') %}
        -
    {% else %}
        {%- if field.attributes.value_prefix is defined %}<span class="text-body-secondary">{{ field.attributes.value_prefix|trans }}</span>{% endif %}
        {%- if action is same as 'grid' %}
            {{- value|ag_truncate(field.view.grid_truncate) -}}
        {%- else %}
            {{- value -}}
        {% endif -%}
        {% if field.attributes.value_suffix is defined %}<span class="text-body-secondary">{{ field.attributes.value_suffix|trans }}</span>{% endif -%}
    {% endif %}
{% endblock %}
