{% extends attributes.template.base|default(agTemplate('base')) %}
{% block autogrid %}
    {% block autogrid_error_content %}
        <div class="notification is-danger is-light has-text-centered">
            <i class="bi bi-exclamation-triangle"></i>
            {{ message }}
        </div>
    {% endblock %}
{% endblock %}
