{% block autogrid_field_boolean_content %}
    <span class="inline-flex items-center justify-center w-6 h-6">
        {{ ag_icon(value ? 'boolean-true' : 'boolean-false')|raw }}
    </span>
{% endblock %}
