{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid_field_boolean_content %}
    <span class="inline-flex items-center justify-center w-6 h-6">
        {{ value ? ag_icons.boolean_true() : ag_icons.boolean_false() }}
    </span>
{% endblock %}
