{% block autogrid_field_choice_content %}
    {% set labels = labels %}
    {% if (labels is empty) %}
        -
    {% elseif (action is same as 'grid') %}
        {{ labels|join(', ')|ag_truncate(field.view.grid_truncate) }}
    {% elseif labels|length > 1 %}
        <ul class="list-disc list-inside">
            {% for item in labels %}
                <li class="text-gray-900">{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ labels|first }}
    {% endif %}
{% endblock %}
