{% import attributes.template.icons|default(ag_template('icons')) as ag_icons %}
{% block autogrid_field_boolean_content %}
    <span class="h5 m-0">
        {{ value ? ag_icons.boolean_true() : ag_icons.boolean_false() }}
    </span>
{% endblock %}
