{% block autogrid_field_boolean_content %}
    {% set value = agFieldValue(entity, field) %}
    <span class="h5 m-0">
        {% if value %}
            <i class="bi bi-check-lg text-success"></i>
        {% else %}
            <i class="bi bi-dash text-gray-400"></i>
        {% endif %}
    </span>
{% endblock %}
