{% block autogrid_field_choice_content %}
    {% set value = ag_field_value(entity, field) %}
    {% set labels = ag_choice_labels(value, field) %}
    {% if (labels is empty) %}
        -
    {% elseif (action is same as 'grid') %}
        {{ labels|join(', ')|ag_truncate(field.view.grid_truncate) }}
    {% elseif labels|length > 1 %}
        <ul class="no-bullet">
            {% for item in labels %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ labels|first }}
    {% endif %}
{% endblock %}
